*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'in', sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
}

.mainBoxLogin{
    background-color: #55698B;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.leftBox{
    background: url(../../assets/login1.jpg);
    background-size: cover;
    
    background-position: center;
    width: 50vw;
    height: 100vh;
    color: white;
}

.leftboxcontent{
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;  
}

.leftBoxHeading{

    font-size: 36px;
    color: white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.rightBox{
    width: 50vw;
    height: 100vh;
}

.centerdiv{
    margin: 0 auto;
    background-color: #7589ab;
    min-height: 100%;
    width: 70%;
}

.mainCenterdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:  auto;
    height: 99vh;
    width: 70%;
}

.rightBoxcontent{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: beige;
}
.rightBoxcontent h1{
    color: beige;
    font-weight: 800;

}



.loginHeading{
    margin-bottom: 10px;
}

.loginPageInputs{
    margin: 20px 0;
    row-gap: 20px;
    display: flex;
    flex-direction: column;

}

.chackboxdiv{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: 20px 5px 20px 0;
}

.checkboxmaindiv{
    color: beige;
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.checkboxmaindiv input {
    cursor: pointer;
}

.loginpagelink {
    color: rgb(217, 249, 253);
    text-decoration: none;
    transition: 0.3s;
}
.loginpagelink:hover {
    color: rgb(35, 206, 228);
    text-decoration: underline;
}

.loginBtnBox{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;

}

.loginBtnBox .loginbutton{
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(45deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    color: black;
    padding-block: 15px;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: #3a5480 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.loginBtnBox .loginbutton:hover {
    transform: scale(1.03);
    box-shadow: #3a5480 0px 23px 10px -20px;
}

.loginBtnBox .loginbutton:active{
    transform: scale(0.95);
  box-shadow: #7d94bc 0px 15px 10px -10px;
}

.googlelogin{
    display: flex;
    justify-content: center;
    align-content: center;
}

.googleIcon{
    font-size: 25px;
    position: relative;
    top: 5px;
    margin-right: 4px;
}

.loginBtnBox .loginbutton:active .googleIcon{
    transform: scale(0.95);
    
}
.loginBtnBox .loginbutton:hover .googleIcon{
    transform: scale(1.03);
}


.register{
    color: beige;
    margin-top:40px ;
    column-gap: 8px;

}


/* login signup inputs fileds  */

.wavegroup {
    position: relative;
    margin-bottom: 20px;
  }

  .wavegroup .input {
    font-size: 16px;
    color: aliceblue;
    padding: 8px 8px 8px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1.4px solid #201e1e;
    background: transparent;
  }

  .wavegroup .input:focus {
    outline: none;
  }

  .wavegroup .label {
    color:  rgb(217, 249, 253);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
  }

  .wavegroup .labelchar {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
  }

  .wavegroup .input:focus ~ label .labelchar,
  .wavegroup .input:valid ~ label .labelchar {
    transform: translateY(-20px);
    font-size: 14px;
    color: #ffffff;
  }

  .wavegroup .bar {
    position: relative;
    display: block;
    width: 100%;
  }

  .wavegroup .bar:before,.wavegroup .bar:after {
    content: '';
    height: 2px;
    /* /: 50%; */
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #ffffff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .wavegroup .bar:before {
    left: 50%;
  }

  .wavegroup .bar:after {
    right: 50%;
  }

  .wavegroup .input:focus ~ .bar:before,
  .wavegroup .input:focus ~ .bar:after {
    width: 50%;
  };
